h1{
  text-align: center;
  color: #4B2121 ;
}

h4{
    text-align: center;
    color: #4B2121;
}

.bb{
    display: flex;
    justify-content: center;
    
    
}

.b{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid #634949;
    margin: 2.5rem;
}

.red {
    background-color: #A65B84;
}

.blue {
    background-color: #20788C;

}

.purple {
    background-color: #789342;
}

.yellow {
    background-color: #EFC063;
}

.flash {
    background-color:#E5E3D6 ;
}


.userflash {
    background-color: #634949;
}

body {
    

  font-family: "Montserrat", sans-serif;
  
background-color: #E5E3D6;
}